<!DOCTYPE html>
<html>
    <head>
        <title>Exercise 01: Conditional Rendering</title>    
    </head>
    <body>
        <div id="app">
            <p v-if="sunny"> It's sunny today!</p>
            <p v-else-if="cloudy"> It's cloudy today!</p>
            <p v-else> It's raining today!</p>
            <br>
            <br>
            <br>

            <label>Please enter a kind of animal:</label>
            <br>
            <input v-model="animal" />
            <p v-if="animal === 'dog'">Dog goes woof!</p>
            <p v-else-if="animal === 'cat'">Cat goes meow!</p>
            <p v-else>What does the {{animal}} say?</p>
            <br>
            <br>  
            <br>          
            
            Hi {{ name }}
            <br>
            <label>Please enter your name:</label>
            <br>
            <input v-model="name" />
          </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script>
            Vue.createApp({
                //----start of "Options API": must be a function, must return an object
                data() {
                    return {
                        sunny: false,
                        windy: false,
                        name: "",
                        animal: "tiger"
                    }
                }
                //----end of "Options API"
            }).mount('#app')
        </script>
    </body>    
</html>